@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: linen; text-align: center;">
<div class="text-center">
    <h1 class="display-4">Bem vindo(a) ao PetVet!</h1>
    <img src="~/img/dog_and_cat.jpg">
    <br>
    <p>🤍</p>
    <p>Aqui cuidamos do seu bichinho com muito amor e carinho!</p>
</body>